<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  name="ar_ur5" >


  <xacro:include filename="$(find ar_arena)/urdf/assets/wall.urdf.xacro" />
  <xacro:include filename="$(find ar_arena)/urdf/assets/table.urdf.xacro" />
  <xacro:include filename="$(find ar_arena)/urdf/assets/ur_stand.urdf.xacro" />
  <xacro:include filename="$(find ar_arena)/urdf/assets/kinect2.urdf.xacro" />
  <xacro:include filename="$(find ar_arena)/urdf/assemblies/ur5_with_gripper.urdf.xacro" />


  <!-- setup empty world -->
  <link name="world"/>

  <!-- wall -->
  <xacro:wall/>
  <joint name="wall_in_world" type="fixed">
    <parent link="world" />
    <child link = "wall_link" />
    <origin xyz="0.0 -1.035 1.5" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- table -->
  <xacro:table/>
  <joint name="table_in_world" type="fixed">
    <parent link="world" />
    <child link = "table_link" />
    <origin xyz="0.0 -0.5925 0.735" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- ur_stand -->
  <xacro:ur_stand/>
  <joint name="ur_stand_in_world" type="fixed">
    <parent link="world" />
    <child link = "ur_stand_link" />
    <origin xyz="0.0 0.0 0.435" rpy="0.0 0.0 0.0" />
  </joint>


  <!-- table - robot - adaptor - magnet -->
  <xacro:ur5_with_gripper prefix=""
                          parent="ur_stand_link"
                          joint_limited="$(arg joint_limited)">
    <origin xyz="0 0 0.435" rpy="0 0 0"/>
  </xacro:ur5_with_gripper>

  <!-- attach the kinect support to the table-->
  <!-- <joint name="kinect_joint" type="fixed">
    <parent link="base_link" />
    <child link = "kinect_support" />
    <origin xyz="-0.04702154884695053 -0.6984394646715101 1.9614343867523603" rpy="-2.8643 0.0379642 0.0164376" />
  </joint> -->

  <!-- kinect support-->
  <!-- <link name="kinect_support" /> -->
  <!-- add the kinect-->
  <xacro:kinect2 name="camera" parent="base_link">
    <!-- <origin xyz="-0.04702154884695053 -0.6984394646715101 1.9614343867523603" rpy="-1.296 1.679642 0.0164376" /> -->
    <origin xyz="-0.04702154884695053 -0.7984394646715101 1.9614343867523603" rpy="-1.296 1.579642 0.234376" />
  </xacro:kinect2>

  <!-- <xacro:sensor_kinect parent="kinect_support"/> -->
</robot>
