<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="ur5_magnet" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <!-- ur10 -->
  <xacro:include filename="$(find robin_arena)/urdf/robots/ur/ur5.urdf.xacro" />
  
  <!-- macro definition for ur5 robot with magnet -->
  <xacro:macro name="ur5_magnet" params="prefix parent joint_limited *origin">
    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
      <xacro:insert_block name="origin" />
    </joint>
    <!-- ur10 -->
    <xacro:ur5_robot prefix="${prefix}" joint_limited="${joint_limited}" />

    <!--
    plugin exposes the next parameters via SDF tags:
    ///   * <side> Determines if we are controlling the left or right hand. This is
    ///            a required parameter and the allowed values are 'left' or 'right'
    ///   * <kp_position> P gain for the PID that controls the position
    ///                   of the joints. This parameter is optional.
    ///   * <ki_position> I gain for the PID that controls the position
    ///                   of the joints. This parameter is optional.
    ///   * <kd_position> D gain for the PID that controls the position
    ///                   of the joints. This parameter is optional.
    ///   * <position_effort_min> Minimum output of the PID that controls the
    ///                           position of the joints. This parameter is optional
    ///   * <position_effort_max> Maximum output of the PID that controls the
    ///                           position of the joints. This parameter is optional
    ///   * <topic_command> ROS topic name used to send new commands to the hand.
    ///                     This parameter is optional.
    ///   * <topic_state> ROS topic name used to receive state from the hand.
    ///                   This parameter is optional.
  -->

</xacro:macro>


</robot>
